body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 200%;
    color: $secondary-text-color;
    text-rendering: optimizeLegibility;

    @include respond(tab-mid) {
        font-size: 180%;
    }

    @include respond(tab-sm) {
        font-size: 160%;
    }
}

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $primary-text-color;
    
}
h1 {
    color: $color-white;
    margin-top: 0;
    font-size: 240%;
    word-spacing: 4px;
    @include respond(tab-sm) {
        font-size: 180%;
    }
}
h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    @include respond(tab-sm) {
        font-size: 150%;
    }

    &::after {
        content: "";
        display: block;
        height: 2px;
        width: 100px;
        background-color: col(primary);
        margin: 0 auto;
        margin-top: 30px;
    }
}
h3 {
    font-weight: 400;
    font-size: 110%;
}

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;

    @include respond(tab-mid) {
        width: 80%;
        margin-left: 10%;
    }
    @include respond(tab-sm) {
        width: 100%;
        margin-left: 0;
    }
}
