.section {
    &-features {
        padding: 80px 0;
    }

    &-meals {
        padding: 0;
    }

    &-steps {
        padding: 40px 0 60px;
        background-color: $color-white-dark;

        .steps-box {
            margin-top: 30px;

            .app-screen {
                width: 40%;
            }

            &:first-child {
                padding-right: 3%;
                text-align: right;
            }
            &:last-child {
                padding-left: 3%;
            }
        }
    }

    &-cities {
        margin: 80px auto;
    }

    &-testimonials {
        display: block;
        margin: auto;
        padding: 90px 0;
        background-image: linear-gradient(rgba($color-black, 0.9), rgba($color-black, 0.9)), url(img/back-customers.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        color: $color-white;
        h2 {
            color: $color-white;
        }
    }

    &-plans {
        padding: 60px 0 50px;
        background-color: $color-white-dark;
    }
}
