.box {
    padding: 2%;
    text-align: center;
    
    i {
        font-size: 400%;
        color: col(primary);
    }

    p {
        font-size: 90%;
        line-height: 145%;
        text-align: justify;
    }
}
