.btn {
    &:link,
    &:visited {
        display: inline-block;
        text-decoration: none;
        padding: 10px 30px;
        font-weight: 300;
        border-radius: 100px;
        transition: all .3s;
    }

    &--full {
        margin-right: 2%;
        color: $primary-color-text;
        background-color: col(primary);

        &:hover {
            background-color: col(primary-dark);
        }
    }
    &--ghost {
        color: col(primary);
        border: 1px solid col(primary);

        &:hover {
            color: $primary-color-text;
            border-color: col(primary-dark);
            background-color: col(primary-dark);
        }
    }
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 20px;
    margin-top: 20px;
}