.btn {
    &:link,
    &:visited {
        display: inline-block;
        text-decoration: none;
        padding: 10px 30px;
        font-weight: 300;
        border-radius: 100px;
        transition: all .3s;
    }

    &--full {
        margin-right: 2%;
        color: $primary-color-text;
        background-color: $primary-color;

        &:hover {
            background-color: $primary-color-dark;
        }
    }
    &--ghost {
        color: $primary-color;
        border: 1px solid $primary-color;

        &:hover {
            color: $primary-color-text;
            border-color: $primary-color-dark;
            background-color: $primary-color-dark;
        }
    }
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 20px;
    margin-top: 20px;
}