.cities {
    margin: 50px;

    .city {
        margin: 0 auto;
        &:not(:last-child) {
            margin-right: 5%;
        }

        img {
            width: 100%;
        }

        ul {
            margin-left: 4%;
            margin-top: 5%;
            list-style: none;
            font-size: 90%;

            li {
                margin-top: 5px;
                i {
                    color: $primary-color;
                    margin-right: 10px;
                    font-size: 120%;
                }
                .ion-ios-person {
                    padding: 0 3px;
                }
                a {
                    &:link,
                    &:visited {
                        display: inline-block;
                        color: $primary-color;
                        text-decoration: none;
                        padding-bottom: 1px;
                        border-bottom: 1px solid $primary-color;
                        transition: all .2s;
                    }
                    &:hover {
                        color: $primary-text-color;
                        border-bottom: transparent;
                        transform: scale(1.1) rotate(6deg);
                        box-shadow: 0 5px 10px rgba($color: $color-black, $alpha: .2);
                    }
                }
            }
        }
    }
}