.steps__step {
        margin-bottom: 50px;

        &:first-child {
            margin-top: 50px;
        }

        div {
            color: col(primary);
            font-size: 30px;
            border: 2px solid col(primary);
            border-radius: 100px;
            padding: 10px 19px;
            float: left;
            margin-right: 20px;
        }
}