.steps{
    &__step {
        margin-bottom: 50px;
        @include respond(tab-mid) {
            margin-bottom: 40px;
        }

        &:first-child {
            margin-top: 50px;

            @include respond(tab-mid) {
                margin-top: 30px;
            }
        }

        div {
            color: col(primary);
            font-size: 30px;
            border: 2px solid col(primary);
            border-radius: 100px;
            padding: 10px 19px;
            float: left;
            margin-right: 20px;
            @include respond(tab-sm) {
                font-size: 24px;
                padding: 7px 14px;
            }
        }
    }
}
    