.theme {

    position: fixed;
    top: 50vh;
    right: 10px;
    transform: translateY(-50%);
    z-index: 2;

    span {
        height: 25px;
        width: 25px;
        margin: 5px;
        display: inline-block;
        cursor: pointer;
        transition: all .4s;

        &.active {
            border: 2px solid $color-black;
            box-shadow: 0 0px 10px 5px rgba($color: $color-black, $alpha: .2);
            transform: translateX(-8%);
        }
    }

    .t1 {
        background-color: $theme-1;
    }

    .t2 {
        background-color: $theme-2;
    }

    .t3 {
        background-color: $theme-3;
    }

    .t4 {
        background-color: $theme-4;
    }
}