@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}


// MEDIA QUERY MANAGER
/* 
0 - 600px: phone
600-900px: Tablet Potrait
900-1200px: Tablet Landcape
[1200-1800px]: Normal
1800px+ : Big Desktop

breakPoint Argument Choices
- phone
- tab-port
- tab-land
- big-desktop

1rem = 16px
*/

/*
@if $breakpoint == phone {
    @media (max-width: 37.5em) { @content };   // 600px
}
@if $breakpoint == tab-port {
    @media (max-width: 56.2em) { @content };   // 900px
}
@if $breakpoint == tab-land {
    @media (max-width: 75em) { @content };   // 1200px
}
@if $breakpoint == big-desktop {
    @media (min-width: 112.5em) { @content };   // 1800px
}
*/


@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 30em) { @content };   // 480px
    }
    @if $breakpoint == tab-sm {
        @media (max-width: 47.93em) { @content };   // 767px
    }
    @if $breakpoint == tab-mid {
        @media (max-width: 63.93em) { @content };   // 1023px
    }
    @if $breakpoint == tab-big {
        @media (max-width: 75em) { @content };   // 1200px
    }
}