// C O L O R S  --  UNIVERSAL
$color-white: #fff;
$color-black: #000;
$color-white-dark: darken($color-white, 5%);



/*
// C O L O R S  --  BLUE / LIGHT BLUE
$primary-color:        #2196F3;
$primary-color-dark:   darken($primary-color, 10%);       
$primary-color-light:  lighten($primary-color, 10%);
$primary-color-text:   #FFFFFF;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;
*/


// C O L O R S  --  Amber / Yellow
$primary-color:        #e67e22;
$primary-color-dark:   darken($primary-color, 10%);       
$primary-color-light:  lighten($primary-color, 10%);
$primary-color-text:   #FFF;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;


/*
// C O L O R S  --  EMERALD
$primary-color: #2ecc71;
$primary-color-dark:   darken($primary-color, 10%);       
$primary-color-light:  lighten($primary-color, 10%);
$primary-color-text:   #FFF;
*/


// EXTRAS
$stdWid: 1140px;
