// C O L O R S  --  UNIVERSAL
$color-white: #fff;
$color-black: #000;
$color-white-dark: darken($color-white, 5%);



/*
// C O L O R S  --  BLUE / LIGHT BLUE
$primary-color:        #2196F3;
$primary-color-dark:   darken($primary-color, 10%);       
$primary-color-light:  lighten($primary-color, 10%);
$primary-color-text:   #FFFFFF;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;
*/


// C O L O R S  --  Amber / Yellow
$primary-color:        #e67e22;
$primary-color-dark:   darken($primary-color, 10%);       
$primary-color-light:  lighten($primary-color, 10%);
$primary-color-text:   #FFF;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;


/*
// C O L O R S  --  EMERALD
$primary-color: #2ecc71;
$primary-color-dark:   darken($primary-color, 10%);       
$primary-color-light:  lighten($primary-color, 10%);
$primary-color-text:   #FFF;
*/


// THEMES
$theme-1: #e67e22;
$theme-2: #2ecc71;
$theme-3: #2196F3;
$theme-4: #c0392b;

// EXTRAS
$stdWid: 1140px;


// CSS
 :root {
     // THEME 1 CARROT
    --theme-1: #{$theme-1};
    --theme-1-light: #{lighten($theme-1, 10%)};
    --theme-1-dark: #{darken($theme-1, 10%)};

    // THEME 2 EMERALD
    --theme-2: #{$theme-2};
    --theme-2-light: #{lighten($theme-2, 10%)};
    --theme-2-dark: #{darken($theme-2, 10%)};

    // THEME 3 BLUE
    --theme-3: #{$theme-3};
    --theme-3-light: #{lighten($theme-3, 10%)};
    --theme-3-dark: #{darken($theme-3, 10%)};

    // THEME 4 RED
    --theme-4: #{$theme-4};
    --theme-4-light: #{lighten($theme-4, 10%)};
    --theme-4-dark: #{darken($theme-4, 10%)};

    --color-primary: #{$primary-color};
    --color-primary-dark: #{$primary-color-dark};
    --color-primary-light: #{$primary-color-light};
}