// C O L O R S  --  UNIVERSAL
$color-white: #fff;
$color-black: #000;
$color-white-dark: darken($color-white, 4%);


// C O L O R S  --  Amber / Yellow
$primary-color:        #e67e22;
$primary-color-dark:   darken($primary-color, 10%);       
$primary-color-light:  lighten($primary-color, 10%);
$primary-color-text:   #FFF;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;


// OVERLAYS
$overlay-black-half: linear-gradient(rgba($color-black, .5), rgba($color-black, .5));
$overlay-primary-light: linear-gradient(to bottom right, rgba(var(--color-primary-light-rgb), .2),rgba(var(--color-primary-dark-rgb), .2));
$overlay-primary-dark: linear-gradient(to bottom right, rgba(var(--color-primary-light-rgb), .8),  rgba(var(--color-primary-dark-rgb), .8));


// EXTRAS
$stdWid: 1140px;


// THEMES
$theme-1: #e67e22;
$theme-2: #2ecc71;
$theme-3: #2196F3;
$theme-4: #c0392b;



// CSS
 :root {
     // THEME 1 CARROT
    --theme-1: #{$theme-1};
    --theme-1-light: #{lighten($theme-1, 20%)};
    --theme-1-dark: #{darken($theme-1, 10%)};
    --theme-1-rgb: #{hexToRGB($theme-1)};
    --theme-1-light-rgb: #{hexToRGB(lighten($theme-1, 20%))};
    --theme-1-dark-rgb: #{hexToRGB(darken($theme-1, 10%))};

    // THEME 2 EMERALD
    --theme-2: #{$theme-2};
    --theme-2-light: #{lighten($theme-2, 20%)};
    --theme-2-dark: #{darken($theme-2, 10%)};
    --theme-2-rgb: #{hexToRGB($theme-2)};
    --theme-2-light-rgb: #{hexToRGB(lighten($theme-2, 20%))};
    --theme-2-dark-rgb: #{hexToRGB(darken($theme-2, 10%))};

    // THEME 3 BLUE
    --theme-3: #{$theme-3};
    --theme-3-light: #{lighten($theme-3, 20%)};
    --theme-3-dark: #{darken($theme-3, 10%)};
    --theme-3-rgb: #{hexToRGB($theme-3)};
    --theme-3-light-rgb: #{hexToRGB(lighten($theme-3, 20%))};
    --theme-3-dark-rgb: #{hexToRGB(darken($theme-3, 10%))};

    // THEME 4 RED
    --theme-4: #{$theme-4};
    --theme-4-light: #{lighten($theme-4, 20%)};
    --theme-4-dark: #{darken($theme-4, 10%)};
    --theme-4-rgb: #{hexToRGB($theme-4)};
    --theme-4-light-rgb: #{hexToRGB(lighten($theme-4, 20%))};
    --theme-4-dark-rgb: #{hexToRGB(darken($theme-4, 10%))};

    --color-primary: #{$primary-color};
    --color-primary-dark: #{$primary-color-dark};
    --color-primary-light: #{$primary-color-light};
    --color-primary-rgb: #{hexToRGB($primary-color)};
    --color-primary-light-rgb: #{hexToRGB(lighten($primary-color, 20%))};
    --color-primary-dark-rgb: #{hexToRGB(darken($primary-color, 10%))};
}