.contact-form {
    width: 60%;
    margin: 0 auto;

    input[type=text],
    input[type=email],
    select,
    textarea {
        width: 100%;
        padding: 6px;
        border-radius: 3px;
        border: 1px solid $divider-color;
    }

    textarea {height: 100px;}
    input[type=submit] {border: none;}
    input[type=checkbox] {margin: 10px 5px 10px 0;}
}

*:focus {outline: none;}