.header {
    height: 100vh;
    background-image: linear-gradient(rgba($color-black, .7), rgba($color-black, .7)), url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    &__hero-text-box {
        position: absolute;
        width: $stdWid;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include respond(tab-big) {
            width: 96%;
        }
        @include respond(tab-sm) {
            padding: 0 4%;
        }
    }
}