.nav {
    .logo {
        height: 100px;
        float: left;
        margin-top: 20px;
    }
    .logo-black {
        display: none;
    }

    .nav-main {
        float: right;
        list-style: none;
        margin-top: 48px;

        @include respond(tab-sm) {
            display: none;
            float: left;
            margin-left: 35px;
            margin-top: 10px;
        }

        &__item {
            display: inline-block;
            transition: all .4s;

            &:not(:last-child) {
                margin-right: 40px;
            }

            @include respond(tab-sm) {
                display: block;
            }

            a {
                &:link, &:visited {
                    color: $color-white;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 90%;
                    padding: 10px 0;
                    border-bottom: 2px solid transparent;
                    transition: all .4s;

                    @include respond(tab-sm) {
                        display: block;
                        border: 0;
                        font-size: 100%;
                        padding: 10px 0;
                    }
                }
                &:hover {
                    border-bottom: 2px solid col(primary);
                }
            }
        }
    }

    &.sticky {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color:rgba($color: $color-white, $alpha: 0.95);
        box-shadow: 0 2px 2px rgba($color: $color-black, $alpha: 0.2);
        z-index: 3;

        .logo {
            display: none;
        }

        .logo-black {
            height: 50px;
            float: left;
            margin: 5px 0;
            display: block;
        }

        .nav-main {
            margin-top: 17px;

            @include respond(tab-sm) {
                margin-left: 35px;
                margin-top: 0;
            }

            &__item {
                a {
                    &:link, &:visited {
                        color: $color-black;
                        padding: 18px 0;

                        @include respond(tab-sm) {
                            padding: 10px 0;
                        }
                    }
                }
            }
        }
        .mobile-nav-icon {
            margin-top: 10px;
            i {
                color: $color-black;
            }
        }
        
    }

    .mobile-nav-icon {
        float: right;
        margin-top: 45px;
        cursor: pointer;
        display: none;

        @include respond(tab-sm) {
            display: inline-block;
        }

        i {
            font-size: 200%;
            color: $color-white;
        }
    }
}